In [67]:
import nltk
import pandas as pd

In [37]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\archa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [38]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [39]:
display(fake.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [40]:
fake['genuineness'] = 0
genuine['genuineness'] = 1

In [41]:
data = pd.concat([fake, genuine], axis = 0)

In [42]:
display(data)

,title,text,subject,date,genuineness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [43]:
data = data.reset_index(drop=True)

In [44]:
data = data.drop(['subject','date','title'], axis=1)

In [56]:
from nltk.tokenize import word_tokenize
data['text'] = data['text'].apply(word_tokenize)

In [57]:
from nltk.stem.snowball import SnowballStemmer
sb = SnowballStemmer('english', ignore_stopwords=False)

In [58]:
def stem_it(text):
    return[sb.stem(word) for word in text]

In [59]:
data['text'] = data['text'].apply(stem_it)

In [60]:
def stopwords_remove(t):
    return [word for word in t if len(word)>>2]

In [61]:
data['text'] = data['text'].apply(stopwords_remove)

In [62]:
data

                                                    text  genuineness
0      [donald, trump, just, couldn, wish, american, ...            0
1      [hous, intellig, committ, chairman, devin, nun...            0
2      [friday, reveal, that, former, milwauk, sherif...            0
3      [christma, donald, trump, announc, that, would...            0
4      [pope, franci, annual, christma, messag, rebuk...            0
...                                                  ...          ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...            1
44894  [london, reuter, lexisnexi, provid, legal, reg...            1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...            1
44896  [moscow, reuter, vatican, secretari, state, ca...            1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...            1

[44898 rows x 2 columns]

In [63]:
data['text'] = data['text'].apply(' '.join)

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['genuineness'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

9602     capit work funni loss real money help remind o...
6031     after shaki report april downright terribl sho...
2601     white hous press secretari sean spicer held pr...
37100    seoul reuter north korea will make announc 033...
20670    this news should enough hillari obsess with be...
Name: text, dtype: object

9602     0
6031     0
2601     0
37100    1
20670    0
Name: genuineness, dtype: int64

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [66]:
print(tfidf_train)

  (0, 31951)	0.020867772110867502
  (0, 20568)	0.0918946846070595
  (0, 59762)	0.031478547991471914
  (0, 13909)	0.02942848026907875
  (0, 79348)	0.02169860491002394
  (0, 13189)	0.04456202081084594
  (0, 10553)	0.029906829349050312
  (0, 62380)	0.060973630535881396
  (0, 85924)	0.049826581418404
  (0, 85681)	0.04318140976876861
  (0, 48922)	0.03456243591005235
  (0, 86711)	0.014547742368421534
  (0, 82877)	0.05557530625992402
  (0, 81193)	0.04110697852593776
  (0, 24139)	0.030387430974469314
  (0, 11725)	0.05648231221730865
  (0, 60782)	0.028822379440857998
  (0, 71983)	0.028863111457928095
  (0, 72000)	0.07307938567034598
  (0, 29368)	0.026137609602295418
  (0, 41009)	0.04041893195004724
  (0, 85645)	0.01970587690382567
  (0, 50704)	0.03008077071156991
  (0, 31143)	0.0804847292623491
  (0, 87396)	0.014325085818964222
  :	:
  (33672, 29977)	0.044977033474851366
  (33672, 58313)	0.1518608435885993
  (33672, 86410)	0.026657424824429374
  (33672, 8032)	0.026575579048153036
  (33672, 86711)	0.051202765513453104
  (33672, 71983)	0.050793830772564975
  (33672, 87396)	0.10083819077531578
  (33672, 79105)	0.026470316582019673
  (33672, 7730)	0.04105688507458374
  (33672, 21988)	0.03303849203358762
  (33672, 79217)	0.058997415561007384
  (33672, 18733)	0.04309967641342992
  (33672, 37051)	0.020849509590683615
  (33672, 7236)	0.025056838038411657
  (33672, 79384)	0.04356136332165523
  (33672, 48264)	0.030201526909640324
  (33672, 79305)	0.024324768899128005
  (33672, 56060)	0.04594179652282689
  (33672, 79746)	0.030161271089933144
  (33672, 12007)	0.03442767624181083
  (33672, 62549)	0.05199486166038007
  (33672, 40346)	0.03370320661762864
  (33672, 67457)	0.03111420543953515
  (33672, 55797)	0.03148602361323616
  (33672, 37523)	0.03897791699009815

In [69]:
from sklearn.linear_model import LogisticRegression
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)

LogisticRegression(max_iter=900)

In [70]:
from sklearn.metrics import accuracy_score
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

98.84187082405346

In [71]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [73]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is',accscore*100)

The accuracy of prediction is 99.71492204899778